---
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>教授のホームページ</title>
  </head>
  <body>
    <main>
      <h1>ようこそ、教授のホームページへ</h1>
      <p>このサイトでは、同人音声作品や活動記録などを掲載していきます。</p>
    </main>
  </body>
</html>
